/* You can add global styles to this file, and also import other style file`s */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face{
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype");
    font-weight: 800;
    font-style: italic;
}
@font-face{
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face{
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face{
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat/Montserrat-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }



:root {
    font-size: 16px;
    --bg-secondary: #0C4BCC;
    --bg-primary: #ffffff;
    --text-primary: #ffffff;
    --text-secondary:#00CA80;
    --transition-speed: 600ms;
}

body{
    background-color: #F7F8FC !important;
}

body::-webkit-scrollbar-track{
    background-color: var(--bg-primary);
}

body::-webkit-scrollbar-thumb{
     background-color: #0C4BCC;
}

body::-webkit-scrollbar{
     width: 0.30rem;
}

/* For delete dialog */
.btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
  }

   /* mat-confirm-dialog (customised dialog) */
   .confirm-dialog-container .mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
    font-family: 'Montserrat';
    font-weight: bold;
}
.confirm-dialog-container .content-container{
    margin: 5px 5px 15px 5px;
    color: #17225B;
    display: flex;
}
.confirm-dialog-container #close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}
.confirm-dialog-container #close-icon:hover{
cursor: pointer;
}

.confirm-dialog-container #no-button{
    height: 50px;
    width: 50%;
    background-color: #2067F4;
    color:white;
    border-radius: 0px;
    font-family: 'Montserrat';
    font-weight: bold;
    outline: none;
}

.confirm-dialog-container #yes-button{
    height: 50px;
    width: 50%;
    background-color:  #C02231;
    color:white;
    border-radius: 0px;
    font-family: 'Montserrat';
    font-weight: bold;
    outline: none;
}

.confirm-dialog-container span.content-span{
    padding:  35px 16px;
    text-align: center;
    font-size: 20px;
}
