
/* css for the loading spinner */
.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--bg-secondary);
}

/* css for the table */
.mat-row:nth-child(even){
    background-color:#F7F8FC;
}

.mat-row:nth-child(odd){
    background-color:#FFFFFF;
}

.mat-row {
    border: none;
    height: 6rem; /* Height of each row */
}

.mat-elevation-z0{
    padding-left: 80px;
    padding-right:80px;
}

.mat-header-cell{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    color:  #aaa;
}
.mat-header-row{
    border-color: var(--bg-secondary);
    border-width: 3px;
    border-top: none;
    border-left: none;
    border-right: none;

}
.mat-cell{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
}


/* Css for each column in the damn table */
.mat-column-first_name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 17% !important;
  width: 17% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  justify-content: center;

}

.mat-column-state {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  justify-content: center;

}
.mat-column-email {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  justify-content: center;

}

.mat-column-contact_no {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 17% !important;
  width: 17% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  justify-content: center;

}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  justify-content: center;

}
.mat-column-gender {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  justify-content: center;

}
.mat-column-pincode {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  justify-content: center;

}
.mat-column-status {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 6% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  justify-content: center;

}

.mat-table {
width: 100%;
table-layout: fixed;
}

.mat-footer-row .mat-footer-cell{
  justify-content: center;
  font-style: italic;
  color: #C82333; 
  font-size: large;
  margin-top: 20px;
  font-family: 'Montserrat';
}


/* Css for search bar on top */
.form-group .form-control {
  padding-left: 2.375rem;
  font-family: Montserrat;
  background-color: #F7F8FC;
  width: 100%;
  border-color: transparent;
}

.form-group .form-control-icon {
  position: absolute;
  z-index: 1;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.search-clear-button{
  position: absolute;
  z-index: 1;
  display: inline;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  color: #aaa;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 6px;
  margin-left: 680px;
}
/* end of css for the search bar on top */

.searchDropdown{
  font-family: Montserrat;
  color :#6C757D;
  border-color: transparent;
  background-color:  #F7F8FC;
}

.dropdown-item{
  font-family: Montserrat;
  background-color:  #F7F8FC;
  color: #aaa;
  cursor: pointer;
}

/* margin for the searchby and orderby buttons are already placed in the div classes itself */


/* CSS FOR THE ADD CANDIDATE BUTTON */
#newCandidateButton {
  position: fixed;
  bottom: 50px;
  right: 80px; 
  font-family: Montserrat;
  font-weight: bold;    ;
}
.mat-raised-button{
  background-color: var(--text-secondary);
  padding:0.6em 2em;
  /* border-radius: 50px; */
  border-color: var(--text-secondary) !important;
  color:var(--text-primary);
  font-size:1.2em;
  border:0;
  cursor:pointer;
  outline: none;
}
.mat-icon{
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 8px;
  margin-right: 3px;
}

/* CSS for the  top Info about the card */



