<!-- Vertical Navigation Bar -->
<nav class="navbar"> 
    <ul class="navbar-nav">
        <li class="logo nav-item">
            <a class="nav-link">
                <span class="link-text logo-text">GT&T</span>
                <mat-icon svgIcon="menu" (click)="onNavAnimate()"></mat-icon>
            </a>
       </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
            <mat-icon svgIcon="candidates"></mat-icon>
            <span class="link-text">Candidates</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
            <mat-icon svgIcon="sponsor"></mat-icon>
            <span class="link-text">Sponsors</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">

            <mat-icon svgIcon="recruitment"></mat-icon>
            <span class="link-text">Recruitment</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
            <mat-icon svgIcon="requirement"></mat-icon>
            <span class="link-text">Requirements</span>
        </a>
      </li>
      <li class="nav-item">
        <mat-divider></mat-divider>
        <a class="nav-link" (click)="onLogout()"> 
            <mat-icon svgIcon="exit"></mat-icon>
            <span class="link-text">Log Out</span>
        </a>
      </li>
    </ul>
</nav>
       