
/* Navbar css present in style.css */

.navbar{
  display: inline-block;
  width: 6rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-secondary);
  transition: width var(--transition-speed) ease;
  z-index: 2;
}

.link-text{
  margin-left: 1rem;
  color: var(--text-primary);
  font-family: 'Montserrat';
  font-size: 18px;
}

.navbar-nav{
  list-style: none;
  display: flex; 
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link:hover .link-text{
  color: var(--text-secondary);
}

.nav-item:last-child{
  margin-top: auto;
  margin-bottom: 20px;
}

.nav-item:first-child{
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 50px;
}

.nav-item:first-child:hover {
  background-color: transparent !important;
}

.nav-link{
  display: flex;
  margin-top: 2rem;
  align-items: center;
  height: 3.5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: opacity(0.7);
  transition: var(--transition-speed);
}

.link-text {
  display: none;
  margin-left: 1rem;
  color: var(--text-primary);
}

.nav-link mat-icon{
  width: 2rem;
  min-width: 2rem;
  margin: 0 1rem;

}

.nav-link:hover {
  filter: opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}


.navbar:hover {
  width: 16.3rem;
}

.navbar:hover .link-text {
display: inline;    
}

.navbar:hover .logo-text
{
  left: -3px;
}

.logo-text
{   
font-size: 25px;
font-weight: 900;
color: var(--text-secondary);
display: inline;
position: absolute;
left: -990px;
transition: var(--transition-speed);
margin-left: 5rem;   
text-transform: uppercase;

}

.logo {
  margin-top: 2.5rem;
  font-weight: bold;
  font-size: 1.4rem; 
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 0.5ch;
  width: 100%;
  color: var(--text-secondary);

}

.logo mat-icon{
  margin-left: 25px;
  color: #00CA80;
  transform: rotate(-45deg);
  transition: transform var(--transition-speed);
  transform-origin: bottom;
  width: 40px !important;
  height: 40px !important;
}

mat-icon {
  width: 34px !important;
  height: 34px !important;
}

.navbar:hover .logo mat-icon{
  transform: rotate(-315deg);
  transform-origin: right;
  margin-left: 11rem;
}

.nav-link:hover{
  background-color: rgba(0, 202, 128,0.2);
  border-radius: 10px;
}

.mat-divider{
  border-color: #00CA80;
  border-width: 3px;
}

/*===== Small screens =====*/
  /* Still needs work on the mobile navbar */
/* @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 6rem;
      align-items: center;
    }

    mat-divider{
        display: none
    }
    
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
      align-items: center;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  } */
