<div class="container-fluid p-0">
    <app-navigation></app-navigation>
    <main>      
        <mat-card class="mat-elevation-z3 mainCard">
            <div class="row">
                <div class="col">
                    <mat-card-title class="mainCardTitle">
                    {{  this.globalService.cardTitle }}
                    </mat-card-title>
                </div>

                <div class="col">
                    <div class="btn-group" style="position:absolute; ">
                        <button type="button" class="btn btn-primary btn-lg topNavBtn">Left</button>
                        <button type="button" class="btn btn-danger btn-lg topNavBtn" style="margin-right: 50px">Right</button>
                    </div>
                </div>    
            </div>
            <mat-divider></mat-divider>
            <br>
            <router-outlet></router-outlet>
        </mat-card>
    </main>
</div>