/* css for search row */
.form-group .form-control {
    padding-left:4rem;
    font-family: Montserrat;
    background-color: #F7F8FC;
    width: 100%;
    border-color: transparent;
}

.form-group .form-control-icon {
    position: absolute;
    z-index: 1;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    margin-left: 20px;
}
.search-clear-button{
    display: block;
    position: absolute;
    z-index: 1;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    color: #aaa;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 6px;
    margin-right: 30px;
    right: 0;
}

.searchDropdown{
    font-family: Montserrat;
    color :#6C757D;
    border-color: transparent;
    background-color:  #F7F8FC;
}

.dropdown-item{
    font-family: Montserrat;
    background-color:  #F7F8FC;
    color: #aaa;
    cursor: pointer;
}



/* css for the table */
.mat-row:nth-child(even){
    background-color:#F7F8FC;   
}

.mat-row:nth-child(odd){
    background-color:#FFFFFF;   
}

.mat-row {
    border: none;
    height: 6rem; /* Height of each row */
}

.mat-elevation-z0{
    padding-left: 80px;
    padding-right:80px;
}

.mat-header-cell{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    color:  #aaa;
}
.mat-header-row{
    border-color: var(--bg-secondary);
    border-width: 3px;
    border-top: none;
    border-left: none;
    border-right: none;

}
.mat-cell{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
}


/* CSS FOR THE ADD SPONSOR BUTTON */
#newSponsorButton {
    position: fixed;
    bottom: 50px;
    right: 80px; 
    font-family: Montserrat;
    font-weight: bold;
  }
  .mat-raised-button{
    background-color: var(--text-secondary);
    padding:0.6em 2em;
    /* border-radius: 50px; */
    border-color: var(--text-secondary) !important;
    color:var(--text-primary);
    font-size:1.2em;
    border:0;
    cursor:pointer;
    outline: none;
  }
  .mat-icon{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 8px;
    margin-right: 3px;
  }
  

  /* Css for each column in the damn table */
.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 18% !important;
    width: 18% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    justify-content: center;
  
  }
  
  .mat-column-state {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    justify-content: center;
  
  }
  .mat-column-email {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 18% !important;
    width: 18% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    justify-content: center;
  
  }
  
  .mat-column-contact {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 18% !important;
    width: 18% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    justify-content: center;
  
  }
  
  .mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 23% !important;
    width: 23% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    justify-content: center;
  
  }
  
  .mat-column-country {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    justify-content: center;
  
  }
  
.mat-table {
  width: 100%;
  table-layout: fixed;
}

.mat-footer-row .mat-footer-cell{
  justify-content: center;
  font-style: italic;
  color: #C82333; 
  font-size: large;
  margin-top: 20px;
  font-family: 'Montserrat';
}