<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <i class="material-icons matIcon form-control-icon">search</i>
                <button class="search-clear-button" *ngIf="searchKey" (click)="onSearchClear()"><i class="material-icons matIcon">close</i></button>
                <input [(ngModel)]="searchKey" matInput type="text" class="form-control" placeholder="Search" (keyup)="applySearchFilter()" (focus)="setupFilter()">
                
              </div> 
        </div>
        <div class="row" style="margin-left: 15px">
            <div class="dropdown float-left">
                <button class="btn dropdown-toggle searchDropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                {{ searchByValue }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" *ngFor="let columns of dropdownColumns; let i=index" (click)="filterColumnValue(i)">{{ columns }}</a>
                </div>
            </div>
            <div class="dropdown" style="margin-left: 40px;">
                <button class="btn dropdown-toggle searchDropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                    Order By
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" >Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mat-elevation-z0 container-fluid">
    <mat-table [dataSource]="this.tableData" matSort >

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>  
            <mat-cell *matCellDef="let element;">{{ element.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Contact No</mat-header-cell>  
            <mat-cell *matCellDef="let element">{{ element.contact }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>  
            <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>  
            <mat-cell *matCellDef="let element">{{ element.state }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>  
            <mat-cell *matCellDef="let element">{{ element.country }}</mat-cell>
        </ng-container> 

        <!-- CSS for the action button are present with the HTML itself -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>  
            <mat-cell *matCellDef="let element">
                    <button mat-button class="editAndDelete" [ngStyle]="{'background-color': '#216BFE', 'outline': 'none', 'padding-bottom':'3px'}" (click)="edit(this.sponsorService.sponsorRecords['records'].indexOf(element))">
                        <i [ngStyle]="{'color': 'var(--text-primary)', 'font-size': '27px'}" class="material-icons">edit</i>
                    </button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan=6>
                <div class="uploader-status">
                    <mat-spinner strokeWidth="25" [diameter]="180" title="Server Starting" ></mat-spinner>
                </div>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan=6>No Candidate Info Entered Yet</mat-footer-cell>
        </ng-container>

        <mat-footer-row *matFooterRowDef="['loading']" [ngStyle]="{'display': (this.sponsorService.sponsorRecords!=null) ? 'none':'block'}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngStyle]="{'display': (this.noData) ? 'block':'none'}"></mat-footer-row>
    </mat-table>
</div>  

<button mat-raised-button id="newSponsorButton" class="addCandidateButton" (click)="addSponsor()">
    <mat-icon>add</mat-icon>
    Add Sponsor
</button>