<div class="container">
<div class="row vertical-center">
    <div class="col-xs-12 col-md-8 offset-md-3 justify-content-center">
        <mat-card class="mat-elevation-z3 mainCard">  
            <mat-card-title class="mainCardTitle text-center">
                LOGIN
            </mat-card-title>
            
        <mat-divider></mat-divider>
        <br>
        <div class="alert alert-danger text-center" *ngIf="error">
            <strong>{{error}}</strong>
        </div>
        <div class="row justify-content-center mt-5 mb-5" *ngIf="isLoading">
            <mat-spinner strokeWidth="20" [diameter]="100" title="Server Starting" ></mat-spinner>
        </div>
            <form #authForm='ngForm' (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                <div class="form-group inputWithIcon">
                    <label name="username">Username</label>
                    <i class="material-icons matIcon">person</i>
                    <input type="text" name="username" class="form-control" ngModel required minlength="6">
                </div>
                <br>
                <div class="form-group inputWithIcon">
                    <label name="password">Password</label>
                    <i class="material-icons matIcon">security</i>
                    <input type="password" name="password" class="form-control" ngModel required minlength="6">
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" [disabled]="!authForm.valid" type="submit">Sign In</button>
                </div>
            </form>
        </mat-card>    
    </div>
</div>
</div>