/* The 'Add Candidate Button' customization css below */

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


.mainCard {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}
.mainCardTitle{
    margin-left: 200px;
    font-family: Montserrat;
    font-weight: extrabold;
    font-weight: 900;
    font-size: 35px;
    color: #17225B;
  }
  
  mat-divider{
    border-color: var(--bg-secondary);
    border-width: 3px;
  }
  .topNavBtn{
    margin-top: 5px;
    margin-left: 20rem;
    font-size: 15px;
    height: 40px;
    width: 100px;
    font-family: Montserrat; 
    font-weight: 600; 
    font-style: bold;
  }