
<div class="mat-elevation-z0 container-fluid">
    <mat-tab-group  animationDuration="500ms" mat-align-tabs="start">
        <mat-tab label="Candidate Details" >
            <div class="container p-5" >
                <form action="" [formGroup]="candidateInfoForm" (ngSubmit)="onCandidateDetailsSubmit()">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-group inputWithIcon">
                                <label name="first_name" >First Name</label>
                                <i class="material-icons matIcon">person_add</i>
                                <input type="text" name="first_name" class="form-control" formControlName="first_name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group inputWithIcon">
                                <label name="last_name">Last Name</label>
                                <i class="material-icons matIcon">person_add_alt_1</i>
                                <input type="text" name="last_name" class="form-control" formControlName="last_name">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-group inputWithIcon">
                                <label name="contact_no">Contact Number</label>
                                <i class="material-icons matIcon">phone</i>
                                <input type="text" name="contact_no" class="form-control" formControlName="contact_no">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group inputWithIcon">
                                <label name="email">Email ID</label>
                                <i class="material-icons matIcon">mail</i>
                                <input type="text" name="email" class="form-control" formControlName="email">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-group inputWithIcon">
                                <label name="gender">Gender</label>
                                <i class="material-icons matIcon">wc</i>
                                <select class="form-control selectBox" name='gender'  formControlName="gender">
                                    <option>Others</option>
                                    <option>Female</option>
                                    <option>Male</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group inputWithIcon">
                                <label name="DOB">Date of Birth</label>
                                <i class="material-icons matIcon">calendar_today</i>
                                <!-- <input name="DOB" class="form-control DOB" type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')"  formControlName="DOB"> -->
                                <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" name="DOB" class="form-control" type="text"  formControlName="DOB">
                                <owl-date-time #dt2 [pickerType]="'calendar'" [pickerMode]="'popup'" ></owl-date-time>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group inputWithIcon">
                                <label name="email">Country</label>
                                <i class="material-icons matIcon">public</i>
                                <input type="text" name="email" class="form-control"  formControlName="country">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-7">
                            <div class="form-group inputWithIcon">
                                <label name="address">Address</label>
                                <i class="material-icons matIcon">location_on</i>
                                <input type="text" name="address" class="form-control" formControlName="address">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group inputWithIcon">
                                <label name="state">State</label>
                                <i class="material-icons matIcon">markunread_mailbox</i>
                                <input name="state" class="form-control" type="text"  formControlName="state">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group inputWithIcon">
                                <label name="pincode">Pincode</label>
                                <i class="material-icons matIcon">push_pin</i>
                                <mat-icon class="matIcon">push_pin</mat-icon>
                                <input type="text" name="pincode" class="form-control"  formControlName="pincode">
                            </div>
                        </div>  
                    </div>
                    <div class="row justify-content-center mb-3">
                        <div class="col-3">
                            <div class="form-group inputWithIcon">
                                <label name="origin">Origin</label>
                                <i class="material-icons matIcon">trip_origin</i>
                                <select class="form-control selectBox" name='origin'  formControlName="origin">
                                    <option>offline</option>
                                    <option>online</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group inputWithIcon">
                                <label name="status">Status</label>
                                <i class="material-icons matIcon">accessibility</i>
                                <select class="form-control selectBox" name='status'  formControlName="status">
                                    <option>Available</option>
                                    <option>Not Available</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <mat-divider class="candFormDivider"></mat-divider>

                    <div formArrayName="specializations" >
                        <div class="spec-container" style="margin-top: 50px" *ngIf="(editMode == candidateSpecGathered)">
                            <div class="row justify-content-center mb-3"
                            *ngFor = "let specCtrl of controls; let i = index"
                            [formGroupName]="i">
                                <div class="col-5">
                                    <div class="form-group inputWithIcon">
                                        <label name="specialization">Specialization</label>
                                        <i class="material-icons matIcon">construction</i>
                                        <input type="text" list="spec" class="form-control" name="specialization" formControlName="specialization">
                                        <datalist id="spec">
                                            <option *ngFor="let spec of specList">{{ spec }}</option>
                                        </datalist>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group inputWithIcon ">
                                        <div class="form-group inputWithIcon">
                                            <label name="experience">Exp</label>
                                            <input type="number" class="form-control " name="experience" formControlName = "experience">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-1">
                                    <div class="inputWithIcon">
                                        <div class="form-group" style="margin-top: 30px">   
                                            <button mat-mini-fab class="mat-elevation-z0" 
                                                style="outline: none; background-color: #C82333; border-radius: 5px;"
                                                (click)="removeSpecialization(i)">
                                                <i class="material-icons md-light" style="font-weight: bolder; font-size: 23px">close</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mb-5" *ngIf="(editMode == candidateSpecGathered)">
                                <button mat-button class="addSpecButton" (click)="addSpecialization()" type="button">Add Specialization</button>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-5 mb-5" *ngIf="!(editMode == candidateSpecGathered)">
                            <mat-spinner strokeWidth="20" [diameter]="100" title="Server Starting" ></mat-spinner>
                        </div>

                    </div>

                    <mat-divider class="candFormDivider"></mat-divider>
                    
                    <div class="row justify-content-center">
                        <button mat-raised-button id="submitButton" class="submitButton mt-5" [disabled]="!candidateInfoForm.valid"  type="submit">
                            <i class="material-icons md-36">done_all</i>
                            {{ submitButtonText }}
                        </button>
                    </div>

                </form>
            </div>

        </mat-tab>
        <mat-tab label="Visa Details" [disabled]="!editMode"></mat-tab>
        <mat-tab label="Passport Info" [disabled]="!editMode"></mat-tab>
        <mat-tab label="Candidate Resume" [disabled]="!editMode"></mat-tab>
        <mat-tab label="Candidate Proof" [disabled]="!editMode"></mat-tab>
    </mat-tab-group>
</div>