/* IMPORTANT NOTE: Since View Encapsulation is set to None, css mentioned with any class and object together is prone to leakage

  Handle with care. 
  
*/

.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--text-secondary);
}

/* Tab CSS */
.mat-tab-label {
    position:relative;
    font-family: 'Montserrat';
    color: #6C757D;
    font-weight: bolder;
    font-size: medium;
    margin-left: 20px;
}
.mat-tab-label.mat-tab-label-active {
    background-color: transparent;
    color: #246DFE;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: medium;
}
.mat-tab-header, .mat-tab-label-container{
    overflow: inherit !important;
}
.mat-ink-bar:after {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px #246DFE;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #246DFE;
    height: 6px;
    border-radius: 8px;
}

                                    /* Form CSS */

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    color: rgba(255, 255, 255, .85);
    background-color: #246DFE;
}

.owl-dt-container-buttons {
  color: red;
}

/* remove the original arrow */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    /* no standardized syntax available, no ie-friendly solution available */
}
  
 /* remove the original arrow */
select.input-lg {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    /* no standardized syntax available, no ie-friendly solution available */
}
input[type="text"], .selectBox, input[type="number"], input[type="date"] {
    width: 100%;
    border-radius: 6px;
    margin: 8px 0;
    padding: 8px;
    border: none;
    background-color : #F1F2F5; 
    font-family: 'Montserrat';   
}
  
input[type="text"]:focus, .selectBox:focus, input[type="number"]:focus, input[type="date"]{
  border: 5px;
  border-color: #031a47;
  box-shadow: 0 0 8px 0 #246DFE;
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

input[type="number"], input[type="date"]{
  text-align: center;
}

.inputWithIcon .selectBox {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon .matIcon{
  position: absolute;
  left: 0;
  top: 30px;
  padding: 9px 10px;
  color: #246DFE;
  transition: 0.3s;
}


label{
  font-family: 'Montserrat';
  font-weight: bold;
  margin-bottom: -15px;
}
  

.candFormDivider{
  border-width: 3px;
}

.addSpecButton{
  background-color: #246DFE;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 6px;
  font-size: medium;
  border: none;
  outline: none !important;
}

/* Css for the submit button */
.submitButton {
  font-family: Montserrat;
  font-weight: bold;    
}
.submitButton{
  background-color: var(--text-secondary);
  padding: 0.6em 5em;
  /* border-radius: 50px; */
  border-color: var(--text-secondary) !important;
  color: var(--text-primary);
  font-size: 1.2em;
  border: 0;
  cursor: pointer;
  outline: none !important;
  letter-spacing: 5px;
}

.submitButton .mat-icon{
  font-size: 30px;
  font-weight: bolder;
  margin-right: 5px;
  margin-bottom: 8px;
}


input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
  border: 2px solid red;
}

